.library{
    .selectTab{
        width: 100%;
        padding: 60px 0 40px 100px ;
        background: #fff;
        .checked{
            background: #1696f6;
            color: #fff;
        }
        .colors{

        }
        .jobs{
            width: 70%;
            margin-top: 15px;
            padding: 10px 40px;
            display: flex;
            justify-content: space-between;
            div{
                text-align: center;
                height: 25px;
                line-height: 25px;
                border-radius: 5px;
            }
            .job{
                width: 60px;
                &:nth-child(2){
                    width: 140px;
                }
                &:nth-child(3){
                    width: 100px;
                }
                &:nth-child(4){
                    width: 90px;
                }
            }
        }
        .typeList{
            width: 34%;
            // margin-top: 15px;
            padding: 10px 40px;
            display: flex;
            justify-content: space-between;
            div{
                text-align: center;
                height: 25px;
                line-height: 25px;
                border-radius: 5px;
            }
            .type{
                width: 60px;
            }
        }
    }
}