.Icons{
    position: absolute;
    right: 50px;
    top: 100px;
    display: flex;
    .add{
        margin-right: 15px;
        width: 30px;
        height: 30px;
        background: url('../../assets/add.png') no-repeat center;
        background-size: 100%;
    }
    .search{
        margin-right: 15px;
        width: 30px;
        height: 30px;
        background: url('../../assets/search.png') no-repeat center;
        background-size: 100%;
    }
    .back{
        margin-right: 15px;
        width: 30px;
        height: 30px;
        background: url('../../assets/back.png') no-repeat center;
        background-size: 100%;
    }
}